{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"jsx"
	],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"experimentalObjectRestSpread": true,
			"experimentalDecorators": true
		}
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended"
	],
	"rules": {
		"jsx/uses-factory": [1, { "pragma": "JSX" }],
		"jsx/factory-in-scope": [0, { "pragma": "JSX" }],
		"jsx/mark-used-vars": 1,
		"jsx/no-undef": 1,
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["off"]
	},
	"ignorePatterns": [
		"config",
		"rollup.config.js"
	]
}
